<!DOCTYPE html>
<html>

<body>

    <p>Click the button get the text content of the button element.</p>



    <p><strong>Note:</strong> The textContent property is not supported in Internet Explorer 8 and earlier.</p>

    <p id="demo"></p>

    <!-- <script>
        var files_data = data;
        console.log(files_data);
        document.getElementById("demo").innerHTML = files_data;
    </script> -->
    <script>
    var name = "<%- name %>";
    console.log(name);
    </script>


</body>

</html>